nav > ul{
	background-color:rgb(51, 204, 202);
	list-style:none;
	margin:0;
	padding:0;
}

nav a{
	color:inherit;
	display:block;
	font-size:1.5rem;
	padding:8px;
	text-decoration:none;
}

#othergame{
	color:inherit;
	display:block;
	font-size:1.2rem;
	padding:8px;
	text-decoration:none;
}

nav li:hover{
	background-color:rgb(71, 163, 168);
	color:white;
}

.float-nav-outer{
	background-color:rgb(51, 204, 202);
	overflow:hidden;
}

.float-nav{
	position:relative;
	left:50%;
	float:left;
}

.float-nav > li {
	float:left;
	position:relative;
	right:50%;
}

/*oro_main_pic*/
.mainvisual{
}
.mainvisual img{
	display:block;
	margin:0 auto;
	max-width:200%;
	height:auto;
}

/*table*/
table{
	border-collapse:collapse;
	width:100%;
}
th,td{
	/*border-top:solid 3px #47a3a8;*/
	border-bottom:solid 3px #47a3a8;
	padding:10px;
	text-align:left;
	vertical-align:top;
}

/*footer*/
footer{
	font-size:14px;
	font-weight:200;
	line-height:1em;
	padding:20px;
}

.pagetop{
	text-align:center;
	margin:1em;
}
/*bbutton*/
.bbutton{
	text-align:right;
	margin:1em;
}