nav > ul{
	background-color:rgb(51, 204, 202);
	list-style:none;
	margin:0;
	padding:0;
}

nav a{
	color:inherit;
	display:block;
	font-size:1.5rem;
	padding:8px;
	text-decoration:none;
}

#othergame{
	color:inherit;
	display:block;
	font-size:1.2rem;
	padding:8px;
	text-decoration:none;
}

nav li:hover{
	background-color:rgb(71, 163, 168);
	color:white;
}

.float-nav-outer{
	background-color:rgb(51, 204, 202);
	overflow:hidden;
}

.float-nav{
	position:relative;
	left:50%;
	float:left;
}

.float-nav > li {
	float:left;
	position:relative;
	right:50%;
}

/*oro_main_pic*/
.mainvisual{
}
.mainvisual img{
	display:block;
	margin:0 auto;
	max-width:200%;
	height:auto;
}

/*table*/
table{
	border-collapse:collapse;
	width:1000px;
	margin:auto;
}
th,td{
	/*border-top:solid 3px #47a3a8;*/
	border:solid 3px #47a3a8;
	padding:10px;
	text-align:left;
	vertical-align:top;
}

/*footer*/
footer{
	font-size:14px;
	font-weight:200;
	line-height:1em;
	padding:20px;
}

.pagetop{
	text-align:center;
	margin:1em;
}

/*button*/
.button{
	/*fixed the position of button in table*/
	position:relative;
	border:none;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	margin:auto;
	cursor:pointer;
	/*--------------------------------------*/
	padding: 16px 32px;
	font-size:16px;
	
	/*the time original state to hover state*/
	transition-duration:0.4s;
	/*--------------------------------------*/
	
	background-color:white;
	color:#008CBA;/*word color*/
	border:2px solid #008CBA;/*margin color*/
}
.button:hover{
	background-color:#008CBA;
	color:white;
}
.button:active{
	transform:scale(0.9);
	transition-duration:0.1s;
}